<div id="tab-menu" class="col-md-12 clearfix" >
	<a href="#tab-spring" class="btn col-md-1">春<br>3月~5月</a>
	<a href="#tab-summer" class="btn col-md-1">夏<br>6月~8月</a>
	<a href="#tab-autumn" class="btn col-md-1">秋<br>9月~11月</a>
	<a href="#tab-winter" class="btn col-md-1">冬<br>12月~1月</a>

	<a href="#tab-shipment" class="btn col-md-1 col-md-offset-1">農作物<br>出荷</a>
	<a href="#tab-event" class="btn col-md-1">体験/<br>イベント</a>
	<a href="#tab-other" class="btn col-md-1">その他<br>&emsp;</a>

	<a href="#tab-other" class="btn col-md-1 col-md-offset-1">登録済<br><span class="glyphicon glyphicon-star"></span></a>
	<a href="#tab-all" class="btn col-md-1 col-md-offset-1">ALL<br>&emsp;</a>
</div>