/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";



 * {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
	margin:70px auto 20px auto;
}

body {
    background-image: image-url("004-Fantasy-Paper.png");
    /*background-image: image-url("004-polished-wood.png");*/
    /*background-image: image-url("004.jpg");*/
    /*background-image: image-url("005-wood-grain.png");*/
    /*background-image: image-url("017-Subtle-light-patterns-Vol04.png");*/
    /*background-image: image-url("019-Subtle-light-patterns-Vol04.png");*/
    /*background-image: image-url("020-Subtle-light-patterns-Vol04.png");*/
    /*background-image: image-url("04-polish-wood.png");*/
    /*background-image: image-url("05-Cork.png");*/
}

/*------header------*/
header {
	height: 60px;
	width: 100%;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
/*  background-color: white;*/
  border-top: solid 1px #085F63;
  border-bottom: solid 1px #085F63;
}
.header-left {
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
}
.logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family:'Courgette';
}
.header-right {
 float: right;
}
.nav-list-item {
	float: left;
	padding: 0 10px;
	list-style: none;
	text-align: center;
	line-height: 60px;
	font-size: 14px;
}
.nav-list-item a{
  color: black;
}
/*------ submitボタン ------*/
.actions {
  margin: 10px auto;
}
/*------タブメニュー/ タイトル関連------*/
#tab-menu .active,
#tab-c-menu .active,
#tab-b-menu .active{
  background: #FFCDD2;
  color: #000;
}
.item-title {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
}
.color-base {
  border-left: solid 5px #7db4e6;
}
h3 {
  padding: 0px 10px;
  margin: 10px 0 15px 0;
  display: inline-block;
  font-weight: bold;
}

/*------ bookmark(fav)関連 ------*/
.bookmark {
  display: inline-block;
}

