/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/*========================= 共通 =========================*/

 * {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
	margin:60px auto 20px auto;
}

body {
    background-image: image-url("/images/004-Fantasy-Paper.png");
}
a:hover {
  color: red;
}

/*--------------- header ---------------*/
header {
	height: 60px;
	width: 100%;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-top: solid 1px #085F63;
  border-bottom: solid 1px #085F63;
}
.header-left {
	height: 60px;
	float: left;
	text-align: center;
	line-height: 60px;
}
.logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  color: black;
  font-family:'Courgette';
}
.header-right {
 float: right;
}
.nav-list-item {
	float: left;
	padding: 0 10px;
	list-style: none;
	text-align: center;
	line-height: 60px;
	font-size: 14px;
}
.nav-list-item a{
  color: black;
}

/*---------- 各indexのTOPへ戻るボタン ----------*/
#back{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img{
  width: 50px;
}

/*--------------- submitボタン ---------------*/

.actions {
  margin: 10px auto;
}

/*---------- タブメニュー/ タイトル関連 ----------*/
#tab-menu {
  margin-top: 20px;
}
#tab-menu .active,
#tab-c-menu .active,
#tab-b-menu .active{
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  border-bottom: solid 4px rgba(255, 255, 255, 0.1);
  box-shadow: 2px -4px 14px rgba(0, 0, 0, 0.1);
}
.tab-btn {
  text-decoration: none;
  color: #004D40;
  border: solid 1px #80CBC4;
  border-radius: 15px 15px 0 0;
  transition: .3s;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.item-title {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
}
.color-base {
  border-left: solid 5px #7db4e6;
}
h3 {
  font-weight: bold;
}
.index-headline {
  display: inline-block;
}

/*---------- bookmark(fav)関連 ----------*/
.bookmark {
  display: inline-block;
}
.favorited-users {
  margin: 20px auto;
}

.bookmark-1 {
  color: red;
}
.bookmark-0 {
  color: #ddd;
}



