// Place all the styles related to the CropsCalendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*- - - 作物収穫カレンダー/post - - -*/
.calenders table {
	width: 100%;
}

.bestSeason {
	background-color: #ff6666;
}
.season {
	background-color: #ffcc66;
}

.calenders table,.calenders tr,.calenders td,.calenders th {
	border: 1px solid #595959;
	border-collapse: collapse; /*隣接するセルのボーダーを間隔をあけて表示*/
}
.month ,.crop{
	padding: 3px;
	width: 7%;
	height: 40px;
}
.crop {
	width: 16%;
}
.month,
.calenders td{
	text-align: center;
}
.cc-edit{
	padding: 3px;
}
.cc-color .bestSeason {
	border-left: 30px solid #ff6666;
}
.cc-color .season {
	border-left: 30px solid #ffcc66;
}
