// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------------------------*/
/*                index               */
/*------------------------------------*/
.req-main-visual{
    width: 100%;
    height: 350px;
    background-image: image-url("20-fenchurch-street-architecture-buildings-34092.jpg");
    background-size: cover;
    background-position: bottom;
    margin-bottom: 20px;
}
.req-main-visual-content {
  height: 300px;
  text-align: center;
  padding-top: 140px;
}
.req-main-visual-text {
    letter-spacing: 2px;
    color: white;
    font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

/*----------- カード -----------*/
.requestCard {
  width: 100%;
  height: 180px;
  border: solid 1px #ddd;
  margin: 10px auto;
  padding: 0 10px;
  background-color: white;
  border-radius: 5px;
  padding: 0px  10px;
  box-sizing: border-box;
  position: relative;
}
.requestCard:hover  {
  -webkit-transform:scale(1.03);
  -moz-transform:scale(1.03);
  transform:scale(1.03);
  transition: 0.3s ;
}
.request-content h4 {
  text-align: center;
  padding: 20px 0 5px 0;
}
.requestCard-user {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.requestCard .bookmark {
  position: absolute;
  font-size:20px;
  right: 10px;
  bottom: 10px;
}
/*----------- カートのリボン -----------*/
.ribbon_box {
    position: relative;
  }
.requestCard-ribbon{
    display: inline-block;
    position: absolute;
    top: -4px;
    left: -1px;
    box-sizing: border-box;
    padding: 0 15px;
    height: 20px;
    line-height: 20px;
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    z-index: 10;
}
.requestCard-ribbon:before {
  position: absolute;
    content: '';
    left: -7px;
    border: none;
    height: 29px;
    width: 8px;
    border-radius: 5px 0 0 5px;
}
.requestCard-ribbon:after {
    position: absolute;
    content: '';
    bottom: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    border-radius: 5px 0 0 5px;
}

/*------------------------------------*/
/*                show               */
/*------------------------------------*/
.request-show {
    background-color: white;
    border-radius: 5px;
    border:solid 1px #ddd;
    padding: 10px 0;
    box-sizing: border-box;
    position: relative;
}
.request-show .bookmark {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.req-edit-link {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
