// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*------top page ------*/
@import url('https://fonts.googleapis.com/css?family=Courgette');

/* Animation */
@keyframes border-animation {
	to { transform: rotate(360deg); }
}

/* Positioning */

.top-image {
	padding: 50px;
	position: relative;
	height:500px;
	display: flex; /* 要素をflexboxに対応させる */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}
.top-image p,
.circle {
	position: absolute;
}

.top-image p {
	font: 50px/1.2 'Courgette', cursive;
	color: #fff;
	text-align: top;
	top: 220px;
	left: 50%;
	transform:translate(-50%);
	z-index: 1;
}
.circle {
	width: 450px;
	height: 450px;
	mix-blend-mode: multiply;
}
.circle-1 {
	background: #00E676;
	border-radius: 30% 70% 30% 70%/50%;
	animation: border-animation 7s infinite linear;
}
.circle-2 {
	background: #ddd;
	border-radius: 70% 20%/20% 70%;
}
.circle-3 {
	background: #FDD835;
	border-radius: 60% 30%/30% 60%;
	animation: border-animation 5s infinite linear;
}

.f-btn {
	border :1px solid #085F63!important;
	color: black!important;
	background-color: rgba(0,204,51,0.3)
}
.c-btn {
	border :1px solid #FDD835!important;
	color: black!important;
	background-color: rgba(255,204,51,0.3);
}


